name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Configure AWS credentials (uses GitHub secrets)
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1   # Change if your region is different

      # Step 3: Login to Amazon ECR
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | \
          docker login --username AWS --password-stdin 713923090919.dkr.ecr.us-east-1.amazonaws.com

      # Step 4: Build, tag, and push image to ECR
      - name: Build, Tag, and Push Docker Image
        run: |
          IMAGE_NAME=mediplus
          ECR_REGISTRY=713923090919.dkr.ecr.us-east-1.amazonaws.com
          IMAGE_TAG=v1

          # Build image
          docker build -t $IMAGE_NAME .

          # Tag image for ECR
          docker tag $IMAGE_NAME:v1 $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

          # Push image to ECR
          docker push $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
